<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <link href="../LinkYard.css" rel="stylesheet">
   <title>Link Yard | Confirmation</title>
   <style> p{ font-size: 30px; text-align: center;} </style>
</head>
<body>

  <form action="" method="post">
      <video id="Ad_for_upper_billboard" src= <%= Current_ads.Ad_for_upper_billboard.Path_2_Ad %> loop autoplay muted ></video>
      <textarea name="Advert" hidden ><%= JSON.stringify( [Current_ads.Ad_for_upper_billboard.Billboard, Current_ads.Ad_for_upper_billboard.ID] ) %></textarea>
      <button class="Link_2_more_info"> Click here for more information </button>
  </form>

    <P class="Title" id="Subject"> <%= Subject %> </P>

    <form action="" method="post">
       <p> <span id="OptionChooser" >Confirmation Option</span>
         <Select name="Identifier">
            <option value="Email">Email</option>
            <Option value="PhoneNumber">PhoneNumber</Option>
         </Select>
       </p>

       <form action="" method="post">
         <video id="Ad_for_middle_billboard" src= <%= Current_ads.Ad_for_middle_billboard.Path_2_Ad %> loop autoplay muted ></video>
         <textarea name="Advert" hidden ><%= JSON.stringify( [Current_ads.Ad_for_middle_billboard.Billboard, Current_ads.Ad_for_middle_billboard.ID] ) %></textarea>
         <button class="Link_2_more_info"> Click here for more information </button>
     </form>

       <p>You can only choose Phone Number if you already registered one</p>
       <p> <input placeholder="Email or PhoneNumber here" id="IdentifierValue"  required name="IdentifierValue" type="text"> </p>
       
       <p> <button >Send code</button> </p>
    </form>

    <form action="" method="post">
      <video id="Ad_for_lower_billboard" src= <%= Current_ads.Ad_for_lower_billboard.Path_2_Ad %> loop autoplay muted ></video>
      <textarea name="Advert" hidden ><%= JSON.stringify( [Current_ads.Ad_for_lower_billboard.Billboard, Current_ads.Ad_for_lower_billboard.ID] ) %></textarea>
      <button class="Link_2_more_info"> Click here for more information </button>
  </form>


 <script type="text/javascript" src="../Script.js" ></script>
 <script> if ( Subject.innerHTML == " Password Reset " ) { OptionChooser.innerHTML = "Reset Password with: " } else { OptionChooser.innerHTML = "Confirm Advert with: " } </script>
</body>
</html>